services:
  postgres:
    image: postgres
    hostname: postgres.test
    container_name: postgres.test
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: s3c4Et
    volumes:
      - "./docker/postgres:/docker-entrypoint-initdb.d"

  adminer:
    image: adminer
    hostname: adminer.test
    container_name: adminer.test
    ports:
      - "8082:8080"

  ollama:
    image: ollama/ollama
    hostname: ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama:/root/.ollama
  ollama-pull-model:
    image: alpine/curl
    hostname: ollama-pull-model
    container_name: ollama-pull-model
    depends_on:
      - ollama
    command: ["http://ollama:11434/api/pull","-d","{\"model\":\"deepseek-r1:1.5b\",\"insecure\":true,\"stream\":false}"]
  ollama-load-model:
    image: alpine/curl
    hostname: ollama-load-model
    container_name: ollama-load-model
    depends_on:
      ollama-pull-model:
        condition: service_completed_successfully
    command: ["http://ollama:11434/api/generate","-d","{\"model\":\"deepseek-r1:1.5b\",\"keep_alive\":\"30m\",\"stream\":false}"]
  wait-for-ollama:
    image: backplane/true
    hostname: wait-for-ollama
    container_name: wait-for-ollama
    depends_on:
      ollama-load-model:
        condition: service_completed_successfully
